body {
	background-image: url(../images/bg.jpg);
	background-position: top center;
	font-family: 'Raleway', sans-serif;
	padding: 40px 20px;
}

button.fav:focus, button.fav:hover {
	outline: none;
	background: #fff;
}

a {
	color: #333;
}

a:hover {
	color: #555;
	text-decoration: none;
}

.page-title {
	color: #fff;
	font-weight: 700;
	margin: 30px 0;
	letter-spacing: 3px;
}

.btn, .panel, .form-control {
	border-radius: 1px;
}

.panel {
	background: rgba(255, 255, 255, 0.4);
}

.panel-heading, .panel-body {
	padding: 20px 15px 0;
	background: rgba(255, 255, 255, 0.4);
}

.table>tbody>tr{
	cursor: pointer;
}

.table>tbody>tr>td{
	border-top:none;
	line-height: 40px;
}

.city {
	font-weight: 600;
}

.temp {
	font-weight: 600;
	font-size: 1.5em;
}

.descriptions {
	font-style: italic;
	font-size: 1.2em;
}

.table .glyphicon.glyphicon-star {
	color: #fff;
	text-shadow: 1px 1px  rgba(0,0,0,0.1);
}

.table .glyphicon.glyphicon-star:hover {
	color: #e67e22;
	text-shadow: 1px 1px  rgba(0,0,0,0.1);
}

.table .glyphicon.glyphicon-star.favorite-true {
	color: #e67e22;
	text-shadow: 1px 1px  rgba(0,0,0,0.1);
}

.glyphicon.glyphicon-remove-circle {
	font-weight: 1.5em;
	color: darkred;
}

.glyphicon.glyphicon-remove-circle:hover {
	color: #e74c3c;
}

.favorite-true {
	color: #e67e22;
	text-shadow: 1px 1px  rgba(0,0,0,0.1);
}

.favorite-false {
	color: #fff;
	text-shadow: 1px 1px  rgba(0,0,0,0.1);
}

.favorite-false:hover {
	color: #e67e22;
	text-shadow: 1px 1px  rgba(0,0,0,0.1);
}

.alert-error {
	border-radius: 1px;
	border: 1px solid darkred;
	color: darkred;
	padding: 5px 10px;
}

.weather-detail>div {
	margin: 10px;
	padding: 5px;
	border-bottom: 1px solid #e1e1e1;
}

.weather-detail>div:last-of-type {
	border-bottom: none;
}

.weather-detail span {
	font-size: 1.5em;
	padding: 20px;
}

.go-back span {
	color: #fff;
	font-size: 0.9em;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin: 0 0 10px 10px;
}


