
	<div class="row">
		<div class="col-md-offset-4 col-md-4">

			<div class="go-back">
				<a href="#/"><span class="glyphicon glyphicon-circle-arrow-left">back</span></a>
			</div>
			
			<div class="panel panel-default">

			  <div class="panel-heading ">
			  	<div class="row">
			  		<div class="col-sm-6">
			  			<h2>{{weatherDetailed.name}}</h2>
			  		</div>
			  		<div class="col-sm-6">
			  			<h2><strong>{{weatherDetailed.main.temp | kelvinToCelsius}} &deg;C</strong></h2>
			  			<h4 ng-repeat="w in weatherDetailed.weather">{{w.description}}</h4>
			  		</div>
			  	</div>
				</div>

				<div class="panel-body text-center weather-detail">
					<div>
						<span>Min: 
							<strong>{{weatherDetailed.main.temp_min | kelvinToCelsius}} &deg;C</strong>
						</span>
				  	<span>Man: 
				  		<strong>{{weatherDetailed.main.temp_max | kelvinToCelsius}} &deg;C</strong>
				  	</span>
					</div>
				  <div>
				  	<span>Pressure: 
				  		<strong>{{weatherDetailed.main.pressure}}</strong>
				  	</span>
				  </div>
				  <div>
				  	<span>Humidity: 
				  		<strong>{{weatherDetailed.main.humidity}} %</strong>
				  	</span>
				  </div>
				  <div>
				  	<span>Wind Speed: 
				  		<strong>{{weatherDetailed.wind.speed}}</strong>
				  	</span>
				  </div>
				</div>
			</div>
	
		</div>
	</div>