<div class="row">
	<div class="col-md-offset-3 col-md-6">
		<h1 class="text-center page-title">Check for Weather</h1>
		<form class="form-horizontal" ng-submit="addCity(cityName)" novalidate>
		  <div class="form-group">
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="cityName" placeholder="Add City to the List" ng-model="cityName" required>
		    </div>
		    <div class="col-sm-2">
		    	<button type="submit" class="btn btn-warning">Add City</button>
		    </div>
		  </div>
		</form>
		<p class="alert-error" ng-show="isError">This city wasn't found. Try one more time</p>
			
		<div class="panel panel-default">
		  <div class="panel-heading ">
			  <div class="row">
			  	<div class="col-sm-6">
			  		<button ng-click="showFavorite()" class="btn btn-sm btn-default fav"><span class="glyphicon glyphicon-star favorite-{{isFavorite}}"></span> Favorite</button>
			  	</div>
			  	<div class="col-sm-6">
			  		<div class="form-group">
			  			<input type="text" class="form-control" placeholder="Quick Search" ng-model="search"> 
			  		</div>	
			  	</div>
			  </div>
			</div>

		<div class="panel-body">
		  <table class="table">
		    <tbody>
		    	<tr ng-repeat="city in cityWeather | filter:search">
		    		<td class="pull-right"><span class="glyphicon glyphicon-star favorite-{{city.favorite}}" ng-click="addToFavorite(city.id)"></span></td>
		    		<td><a href="#/city/{{$routeParams = $index}}"><h4 class="city">{{city.name}}</h4></a></td>
		    		<td> 
			    		<span class="temp">{{city.main.temp | kelvinToCelsius}} &deg;C,</span>
			    		<span class="descriptions" ng-repeat="weather in city.weather"> {{weather.description}}</span>
		    		</td>
		    		<td class="pull-right">
							<span class="glyphicon glyphicon-remove-circle" ng-click="removeItem(city.id)"></span>
		    		</td>
		    	</tr>
		    </tbody>
		  </table>
		</div>
		
	</div>
	</div>
</div>